.auth-image {
    width: 90%;
    overflow: hidden;
}

.auth-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.form-content {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.auth-form {
    width: 50%;
    position: relative;
}
/* Đảm bảo phần form luôn có cùng chiều cao */
.auth-form {
    min-height: 450px;
    /* Chọn chiều cao hợp lý */
    transition: all 0.3s ease-in-out;
}